@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}

/* 전체 틀 */
#communityPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1400px;
}

/* 커뮤니티 타이틀 section */
#communityPage > section:nth-of-type(1) {
    flex-basis: 13%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2rem;
    font-weight: bold;  
}

/* 지역 section */
#communityPage > section:nth-of-type(2) {
   flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 지역 box */
#local-hr-box {
    width: 60%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;    
}

/* 지역 select*/
#localSelect {
    width: 7rem;
    height: 2.7rem;
    text-align: center;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-size: 1rem;
    margin-bottom: 1rem;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#localSelect:hover {
    background-color: #ADADAD;
}

/* 다른 사용자 댓글 보기 section */
#communityPage > section:nth-of-type(3) {
    display: flex;
    flex-basis: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


#com-peopleImg-sec {
    flex-basis: 10%;
}

#community-peopleComment-container {
    width: 60%;
    height: 35rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#community-peopleComment-container > section {
    flex-basis: 19%;
    width: 95%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

/* 커뮤니티 글 메인 클래스부 */

.comPeopleTitle , .comPeopleWrite {
    text-decoration: none;
    cursor: pointer;
    color: black;
}



.com-peopleImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;

}

.com-peopleComment-sec {
    height: 90%;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.com-peopleComment-top-sec {
    flex-basis: 40%;
    width: 100%;
    display: flex;
}

.com-peopleComment-top-sec > div:nth-of-type(1) {
    height: 100%;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.com-peopleComment-top-sec > div:nth-of-type(2) {
    height: 100%;
    width: 20%;
}

.com-peopleComment-top-sec > div:nth-of-type(3) {
    width: 17%;
    display: flex;
    align-items: center;
}

.com-peopleComment-top-sec > div:nth-of-type(4) {
    width: 21%;
    display: flex;
    align-items: center;
}

.com-peopleComment-top-sec > div:nth-of-type(5) {
    width: 17%;
    display: flex;
    align-items: center;
}

.com-peopleComment-bot-sec {
    flex-basis: 60%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-left: 1rem;
}

/* 내 글 작성 section */
#communityPage > section:nth-of-type(4) {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#com-myComment-container {
    flex-basis: 60%;
    background-color: #D9D9D9;
    height: 65%;
    border-radius: 20px;
    display: flex;
    margin-bottom: 5rem;  
}

#com-myComment-container > section:nth-of-type(1) {
    flex-basis: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#com-myComment-imgBox {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
}

#com-myComment-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

#com-myComment-container > section:nth-of-type(2) {
    flex-basis: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#com-input-sec {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputCommentTitle {
    align-self: self-start;
    margin-left: 2rem;
    height: 2.2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: bold;
}

#inputComment {
    width: 95%;
    height: 60%;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    resize: none;
    outline: none;
}

#com-upload-sec {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* 내 글 등록 버튼 */
#com-upload-sec > button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 15px;
    background-color: white;
    font-size: 1rem;
    margin-right: 1.3rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.5s;
}

/* 내 글 등록 버튼 호버 */
#com-upload-sec > button:hover {
    background-color: #4B89DC;
    color: white;
}

