<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	<!-- 
		resultMap 
		- SELECT 조회 결과(ResultSet) 
		컬럼명과 컬럼 값을 옮겨 담을 DTO의 필드명이 같지 않을 때 이를 매핑 시켜 SELECT시 자동으로 담기게하는 역할 
		
		-속성 
		type : 연결할 DTO (패키지명 + 클래스명 또는 별칭) 
		id : 만들어진 resultMap을 지칭할 식별명(이름) 
		<id> 태그 : PK 역할 컬럼 - 필드 매핑 
		<result> 태그 : <id>제외 나머지 
		
		-->

	<resultMap type="Member" id="member_rm">

		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="memberNo" column="MEMBER_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NM" />
		<result property="memberPno" column="MEMBER_PNO" />
		<result property="memberEmail" column="EMAIL" />
		<result property="memberPhone" column="PHONE" />
		<result property="memberNickname" column="NICKNAME" />
		<result property="memberProfileImage" column="PROFILE_IMG" />
		<result property="memberDeleteFlag" column="MEMBER_DEL_FL" />
		<result property="enrollDate" column="ENROLL_DATE" />
		
	</resultMap>

	<select id="memberLogin" parameterType="Member" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NM, MEMBER_PNO, EMAIL, PHONE, NICKNAME, PROFILE_IMG, ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_ID = #{memberId}
	</select>
	
	<insert id="signUp" parameterType="Member">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL
	        , #{memberId}
	        , #{memberPw}
			, #{memberName}
			, TO_CHAR(TO_DATE(#{memberPno}, 'YYYY-MM-DD'), 'YYMMDD')
	        , #{memberEmail}
	        , #{memberPhone}
	        , #{memberNickname}
	        ,NULL , DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateMember">
		UPDATE "MEMBER" SET 
		MEMBER_ID = #{memberId}, 
		MEMBER_NM = #{memberName}, 
		EMAIL = #{memberEmail}, 
		PHONE = #{memberPhone}, 
		NICKNAME = #{memberNickname} 
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<select id="selectPw" resultType="_int">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NO = #{memberNo}
	</select>

</mapper>
