<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="myPageMapper">

	<resultMap type="QNA" id="QNA_rm">

		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="QNANo" column="QNA_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="QNATitle" column="QNA_TITLE" />
		<result property="QNAContent" column="QNA_CONTENT" />
		<result property="QNAAnswer" column="ANSWER" />
		<result property="answerFlag" column="ANSWER_FL" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="EMAIL" />
		<result property="memberNickname" column="NICKNAME" />
		<result property="memberPhone" column="PHONE" />

	</resultMap>


	<select id="selectQNAAll" resultType="hashmap">
		SELECT QNA_NO, QNA_TITLE, QNA_CONTENT, TO_CHAR(CREATE_DATE, 'YY.MM.DD') AS CREATE_DATE, ANSWER_FL
		FROM QNA 
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY CREATE_DATE ASC
	</select>


	<select id="selectLikeAll" resultType="hashmap">
		SELECT TRAVEL_NAME, CONTENT_IMG, AREA_CODE 
		FROM "LIKE"
		JOIN CONTENT USING(CONTENT_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CONTENT_DEL_FL = 'N'
	</select>

	<select id="selectReplyAll" resultType="hashmap">
		SELECT REPLY_CONTENT, TRAVEL_NAME, TO_CHAR(CREATE_DATE, 'YY.MM.DD.') AS CREATE_DATE, REPLY_NO
		FROM REPLY
		JOIN CONTENT USING(CONTENT_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND REPLY_DEL_FL = 'N'
		ORDER BY CREATE_DATE ASC
	</select>
	
	<select id="selectMyPlanAll" resultType="hashmap">
		SELECT MYPLAN_NAME, TO_CHAR(DEPART_DATE, 'YY.MM.DD') 
			AS DEPART_DATE, TO_CHAR(ARRIVAL_DATE, 'YY.MM.DD') AS ARRIVAL_DATE, 
			DEPART_PLACE, CEIL(SYSDATE - DEPART_DATE) AS DDAY, PLAN_NO 
		FROM MYPLAN
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY DEPART_DATE DESC
	</select>
	
	<update id="replyDelete">
		UPDATE "REPLY" SET
		REPLY_DEL_FL = 'Y'
		WHERE REPLY_NO = #{replyNo}	
	</update>
	
	<select id="selectMyPlanDetailAll" resultType="hashmap">
		SELECT PLAN_NO, CONTENT_NO, M.TRAVEL_NAME, C.AREA_CODE, C.CONTENT_IMG 
		FROM MYPLAN_DETAIL M
		JOIN CONTENT C USING(CONTENT_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<delete id="deleteMyPlan">
		DELETE FROM MYPLAN
		WHERE PLAN_NO = #{myPlanNo}		
	</delete>
	
	<select id="selectMyPlanList" resultType="list">
		SELECT PLAN_NO
		FROM MYPLAN
	</select>
	
	<select id="selectMyPlanDetailList" resultType="list">
		SELECT PLAN_NO
		FROM MYPLAN_DETAIL
	</select>
	
	<delete id="deleteDetail">
		DELETE FROM MYPLAN_DETAIL
		WHERE PLAN_NO = #{pd}		
	</delete>
	

</mapper>