/********** 전체 화면  ******************************************************/
.mainContainer {
	width: 70rem;
	display: flex;
	flex-direction: column;
}

/********** X 버튼 ******************************************************/
#closeBtn {
	background-color: transparent;
	border: none;
	margin: 10px;
	cursor: pointer;
	align-self: flex-end;
}

#closeBtn > img {
	width: 1rem;
}

/********** 메인 화면 ******************************************************/
.wrap {
	position: relative;
	width: 70rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.radio_button {
	display: none;
}

.slide {
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
}

.slide_item {
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease-in-out;
}

.slide_item img {
	width: 70rem;
}

.left, .right {
	position: absolute;
	z-index: 10;
	top: 50%;
	padding: 30px;
	cursor: pointer;
}

.left {
	left: 0%;
	background: url('/resources/img/left.png') center center/30% no-repeat;
}

.right {
	right: 0%;
	background: url('/resources/img/right.png') center center/30% no-repeat;
}

.radio_button:nth-child(1):checked ~.slide .slide_item {
	transform: translateX(0%);
}

.radio_button:nth-child(2):checked ~.slide .slide_item {
	transform: translateX(-100%);
}

.radio_button:nth-child(3):checked ~.slide .slide_item {
	transform: translateX(-200%);
}

.radio_button:nth-child(4):checked ~.slide .slide_item {
	transform: translateX(-300%);
}

.radio_button:nth-child(5):checked ~.slide .slide_item {
	transform: translateX(-400%);
}

.radio_button:nth-child(6):checked ~.slide .slide_item {
	transform: translateX(-500%);
}

.radio_button:nth-child(7):checked ~.slide .slide_item {
	transform: translateX(-600%);
}

.radio_button:nth-child(8):checked ~.slide .slide_item {
	transform: translateX(-700%);
}

#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
}


#modalContainer.hidden {
	display: none;
}