/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 탑버튼 부드럽게 올리기 */
html {
    scroll-behavior: smooth;
}

/* 전체 */
* {
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

body {
    margin: 0px;
    padding: 0px;
}

body > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

/* top */
#top {
    background-image: url("/resources/img/common/search/검색메인이미지.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    line-height: 250px;
}

/* main */
#main {
    display: flex;
    height: auto;
}

/* 왼쪽/오른쪽 공백 */
#leftArea, #rightArea {
    flex-basis: 20%;
}

/* 검색결과 구역 */
#searchArea {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.searchResult {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* 검색 정보 */
.searchInfo {
    flex-basis: 95%;
    display: flex;
}

.imgSection {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

/* 이미지 */
.img {
    width: 90%;
    height: 90%;
}

.infoSection {
    flex-basis: 80%;
    display: flex;
    align-items: center;
}

.info {
    width: 100%;
    height: 90%;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* 제목 영역 */
.titleSection {
    flex-basis: 20%;
    width: 60%;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    display: flex;
}

/* 지역명 */
.region {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

/* 여행지명 */
.travelName {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: bold;
}

/* 좋아요 관련 */
.like {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 설명 영역 */
.contentSection {
    flex-basis: 60%;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    overflow-y: scroll;
}

/* 자세히 보기 / 내 일정 추가 영역 */
.linkSection {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

/* 자세히 보기 */
.linkDetail {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.linkDetail > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* 내 일정 추가 */
.addMyPlan {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.addMyPlan > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* 하단 선 */
.line {
    flex-basis: 5%;
}

/* upBtn */
#upBtn {
    width: 50px;
    background-color: transparent;
    scroll-behavior: smooth;
    position: fixed;
    top: 93.8%;
    left: 98%;
    transform: translate(-50%, -50%);
    background-color: #dedede;
    border-radius: 50px;
}

#upBtn:hover {
    cursor: pointer;
}

/* 반응형 모바일 기준 */
/* 해상도 767px 이하면 무조건 여기 작성된대로 css 적용 */
@media all and (max-width:767px) {

    #leftArea, #rightArea {
        display: none;
    }
    .searchInfo {
        flex-basis: calc(100%/3);
        display: flex;
        flex-direction: column;
    }
    /* 제목 영역 */
    .titleSection {
        width: 90%;
    }

}