* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}

button {
    font-family: 'Gowun Dodum', sans-serif;
    border: 0.5px solid #a6a6a6;
    cursor: pointer;
    background-color: #e6e6e6;
}

/* ------------------------------ */
.div1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7px;
}
/* -------------------------------- */
/* 닫기 버튼 */
#close-container {
    width: 800px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: end;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
}

#closeBtnPopup {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}
  
#closeBtnPopup > img{
    width: 1rem;
}

/* --------------------------------------------------------------- */
/* 장소명, 카테고리, 지역, 이미지 파일 선택 */
.container {
    width: 800px;
    height: 500px;
    display: flex;
    background-color: white;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

#title-category-place-imgFile {
    width: 100%;
    flex-basis: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

#input-place {
    width: 120px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: none;
}

#title-category-place-imgFile > select {
    width: 80px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: none;
}

label {
    width: 60px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover {
    cursor: pointer;
}

#imageInput {
    display: none;
}

/* ------------------------------------------- */
/* 위도, 경도 */
#placeZY {
    width: 100%;
    flex-basis: 7%;
    display: flex;
    justify-content: space-around;
}

#placeZY div {
    display: flex;
    align-items: center;
}

.input-placeZY {
    width: 100px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

/* ------------------------------------------ */
/* 여행지 이미지 */

#place-img {
    display: flex;
    justify-content: center;
    width: 343px;
    height: 370px;
    overflow: hidden;
    border-radius: 10px;
}

/* --------------------------------------------- */
/* 링크, 업로드 */
#info-url-upload-btn {
    width: 100%;
    flex-basis: 9%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#info-url-upload-btn div {
    display: flex;
    align-items: center;
}

#place-info-url {
    width: 250px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

#upload-btn {
    width: 60px;
    height: 25px;
    background-color: #a6a6a6;
    border-radius: 10px;
    border: none;
}
/* -------------------------------- */
/* 설명, 후기 */
#div2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 12px;
}

#place-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #a6a6a6;
    margin-top: 10px;
    flex-basis: 40%;
    border-radius: 10px;
}

#input-info {
    display: flex;
    width: 95%;
    height: 85%;
    border-radius: 10px;
}

#review-controll {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a6a6a6;
    margin-top: 15px;
    flex-basis: 52%;
    border-radius: 10px;
}

#review-controll p {
    background-color: #e6e6e6;
    width: 90%;
    border-radius: 10px;
}

#modalContainerPopup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index : 6;
}


#modalContainerPopup.hidden {
	display: none;
}
