/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 */
* {
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

body {
    margin: 0px;
    padding: 0px;
}

/* 섹션 나누기 */
body > section {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
}

/* top(상단 공백 영역) */
#top {
    flex-basis: 12%;
}

/* content(공지사항 내용) */
#content {
    flex-basis: 82%;
    display: flex;
}

/* bottom(하단 공백 영역) */
#bottom {
    flex-basis: 6%;
}

/* content:left(왼쪽 공백 영역), right(오른쪽 공백 영역) */
#l_blank, #r_blank {
    flex-basis: 20%;
}

/* content:center(가운데 내용 영역) */
#main {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

#main > div {
    flex-basis: calc(100%/20);
}

.m_cont {
    display: flex;
    font-size: 1.25rem;
    padding-bottom: 40px;
}

/* 게시글 목록 조회 결과 비어있을 때 */
#emptyNotice {
	justify-content: center;
}

.m_cont {
	cursor: pointer;
}

/* 공지사항 제목 영역 */
.m_cont_tit {
    flex-basis: 80%;
    padding-left: 1.25rem;
}

/* 공지사항 등록일자 영역 */
.m_cont_dt {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

/* 공지사항 대제목 */
#m_tit {
    font-size: 1.9rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 30px;
}

/* 공지사항 대제목 영역 */
#m_tit > div:nth-child(1) {
    flex-basis: 11%;
    padding-top: 6px;
}

/* 플러스 버튼 영역 */
#m_tit > div:nth-child(2) {
    flex-basis: 89%;
    display: flex;
}

/* 플러스(추가) 버튼 */
#plus-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #ddd;
}

#plus-btn:hover {
    cursor: pointer;
    background-color: darkgray;
}

/* 페이지 영역 */
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 35px;
    height: 35px;
    margin: 0 20px;
    text-align: center;
    font-size: 1.25rem;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #ddd;
    border-radius: 50%;
    color: black !important;
    letter-spacing: 0 !important;
}

/* 검색창 */
#noticeSearch {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#searchQuery {
	margin: 0px 10px;
	width: 350px;
	height: 35px;
	padding-left: 10px;
}

#search-btn {
	width: 80px;
	height: 35px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background-color: #ddd;
}

#search-btn:hover {
	cursor: pointer;
    background-color: darkgray;
}

/* 반응형 모바일 기준 */
/* 해상도 767px 이하면 무조건 여기 작성된대로 css 적용 */
@media all and (max-width:767px) {

    #m_tit > div:nth-child(1) {
        flex-basis: 60%;
    }
}