/* 글꼴 모음 */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/********** 전체 화면 ******************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/********** 홈 로고 ******************************************************/
#homelogo {
    width: 47px;
    height: 57px;
    margin: 20px;
}

/********** 내부 로고 ******************************************************/
.logo {
    width: 47px;
    height: 57px;
    margin: 10px 0 30px 0;
}

/********** 내부 로고 ******************************************************/
.inputIdContainer {
    padding: 2rem;
    width: 30em;
    height: 25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #e6e6e6;
    border-radius: 20px;
}

/********** id 입력 ******************************************************/
#inputIdForm {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

.inputIdEx{
    margin: 1rem 0;
}

#inputIdForm input {
    width: 15rem;
    height: 2rem;

    padding: 1em;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
}

.nextBtn {
    text-decoration: none;
    color: #000;
    text-align: center;
    width: 6rem;
    height: 1.7rem;
    background-color: #ffffff;

    margin: 1rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nextBtn:hover {
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

#findIdTag{
    color: #000;
    text-decoration: none;
    margin-top: 1rem;
}

/* -------- 비밀번호 찾기 --------------------------------------------------------- */


.findPwTitle{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.findPwContainer{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 2em;
    border-radius: 10px;
}

.contentContainer > input{
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 10px;
    padding: 1em;
    
    margin: 0.3em 0;
}

.contentContainer > div > input{
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 10px;
    padding: 1em;
    
    margin: 0.3em 0;
}

.certifyBtn{
    border: none;
    background-color: #fff;
    padding: 0.3em 1em;
    border-radius: 10px;
    cursor: pointer;
}

.certifyBtn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

.findPwRadio{
    margin-bottom: 1em;
}

.btnSection{
    display: flex;
    justify-content: end;
}

.btnContainer{
    display: flex;
    justify-content: end;
}

.btn{
    width: 9em;
    background-color: #fff;

    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;

    align-self: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
    margin: 0 0.3rem;
    text-align: center;

}

.btn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

hr{
    width: 25em;
    margin: 1.5em 0;
    border: 0.1px solid #bebebe;
}