/********** 전체 화면 ******************************************************/

*{
    margin: 0;
    padding: 0;
    font-family: Gowun Dodum;

    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.confirm{ color : green; }
.error{ color : red; }


/********** 홈 로고 ******************************************************/
.logo{
    width: 47px;
    height: 57px;
    margin: 20px;
}


/********** 정보 입력 ******************************************************/

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.input{
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    margin: 5px 0 20px 0;
    padding: 0 15px;
    background-color: #e6e6e6;
}

.confirmArea{
    display: flex;
}

#deleteConfirm{
    margin: 0 20px;
}

.btn{
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e6e6e6;
    font-size: 0.8rem;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.btn:hover{
    background-color: #868686;
    color: #fff;
    transition-duration: 0.3s;
}

.btnContainer{
    display: flex;
    justify-content: end;
    margin: 40px 0;
}

