@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

/* 픽스된 네비바 section */
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 300px;
    margin-left: 50px;
}

nav > a > button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: large;
}

/* 헤더(이미지 section) */
#headImageContainer {
    display: flex;
}

/* 고객지원 페이지(전체 틀) */
#clientServicePage {
    width: 100%;
    height: 4000px;
    display: flex;
    flex-direction: column;
}

/* 헤더 이미지 */
#clService-headImage-box {
    width: 100%;
    height: 250px;
    background-image: url("/resources/img/clientService/기차-고객지원.jpg");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 3000px;
}

/* 소개 / 고객지원 ~ LAGC 소개까지 section */
#textPack {
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

#textPack > section:nth-child(1) {
    flex-basis: 30%;
    font-size: x-large;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gowun Dodum', sans-serif;
}

#textPack > section:nth-child(2) {
    flex-basis: 70%;
    display: flex;
}

#textPack-bottom > div:nth-child(1) {
    flex-basis: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

/* 팀 소개 section */
#introduceText {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}

#introduceText > div {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 40px;
}

/* 중간 큰 이미지 */
#teamImage-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
}

#teamImage-area > div > img {
    width: 900px;
    height: 500px;
    border-radius: 20px;
}

/* 공지사항 section */
#noticeArea {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;

}

#noticeArea > section {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#noticeBox {
    flex-basis: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#noticeBox-t {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

#noticeBox-t > p {
    flex-basis: 15%;
    font-size: 1.2rem;
    font-weight: bold;
}

#noticeBox-t > div {
    flex-basis: 70%;
}

#noticeBtnSec {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#noticeBox-b {
    flex-basis: 50%;
    width: 100%;
    display: flex;
}

#noticeBox-b > p:nth-of-type(1) {
    flex-basis: 50%;
}

#noticeBox-b > div {
    flex-basis: 25%;
}

#noticeBox-b > p:nth-of-type(2) {
    flex-basis: 25%;
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

#noticeBtnSec > a > button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
}

#noticeBtnSec > a> button:hover {
    background-color: #ADADAD;
}


/* FAQ section */
#FAQ-area {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

#FAQ-box {
    flex-basis: 50%;
    font-size: x-large;
    font-family: 'Gowun Dodum', sans-serif;
}

#FAQ-box > div:last-of-type {
    background-color: #ECECEC;
    border-radius: 10px;
    font-size: 20px;
}

/* 1대1 문의 section */
#ask-area {
    flex-basis: 20%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

#ask-box {
    display: flex;
    flex-direction: column;
}

#ask-area > div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1)   ;
    border-radius: 10px;
}

#ask-box > section {
    margin-left: 1rem;
}

#ask-box > section:nth-of-type(1) {
    height: 4rem;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#ask-box > section:nth-of-type(2) {
    display: flex;
    height: 11rem;
}

#ask-title-boxes {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    align-items: center;
}

#ask-title-boxes > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.6rem;
    width: 4rem;
    border-radius: 7px;
    background-color: #D9D9D9;
}

#ask-title-answers {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

#classificationSelect {
    width: 11rem;
    height: 1.71rem;
    text-align: center;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-size: 1rem;
    margin-bottom: 1rem;
    
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#ask-title-answers > input {
    margin-bottom: 0.54rem;
    width: 11rem;
    height: 1.71rem;
    border-radius: 7px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding-left: 0.5rem;
}

#ask-box > section:nth-of-type(3) {
    width: 100%;
    height: 15rem;
    background-color: transparent;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#askText {
    height: 100%;
    width: 90%;
    font-size: 1rem;
    border-radius: 20px;
    padding: 1rem;
    resize: none;
    outline: none;
    border: none;
}

#ask-box > section:nth-of-type(4) {
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

#ask-box > section:nth-of-type(4) > button {
    height: 2rem;
    border-radius: 10px;
    background-color: #ECECEC;
    margin-right: 2rem;
    border: none;
    font-weight: bold;
}

#ask-box > section:nth-of-type(4) > button:hover {
    background-color: #ADADAD;
}








































